@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body.home-page{
  margin: 0;
	padding: 0;
	/* display: flex;
	justify-content: center; */
	align-items: center;
	/* min-height: 100vh; */
	font-family: 'Poppins', sans-serif;
	/* background: linear-gradient(to bottom, #1A3636, #40534C, #677D6A, ); */
  background: linear-gradient(to bottom, rgba(103, 125, 106, 0.8), rgba(64, 83, 76, 0.8), rgba(26, 54, 54, 0.8));
}

.home-page {
  
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .background-image {
    background-image: url('../assets/images/black-white\ BG.jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: 0;
  }
  
  .scroll-down-section {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 50vh;
    transition: margin-top 0.5s ease-in-out;
  }
  
  .scroll-down-section.scrolled {
    margin-top: 20px;
  }

  h1.headerhome {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    color: #fff;
    z-index: 1;
    position: relative;
    line-height: 1.3;
    
  }

  h1.headerhomeguest {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    color: #fff;
    z-index: 1;
    position: relative;
    line-height: 1.3;
    min-width: 1000px;
  }

  .homepage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    min-height: 91vh;
    background: linear-gradient(to bottom, rgba(103, 125, 106, 0.8), rgba(64, 83, 76, 0.8), rgba(26, 54, 54, 0.8)),
              url('/images/landscapeBG.jpg') no-repeat center center / cover;
    background-size: 100% 100vh;
    background-attachment: fixed;
  }
  
  .content h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .content p {
    font-size: 1.2rem;
    color: #555;
    margin-top: 15px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 45px;
  }
  
  .get-started-btn {
    background-color: #d72341;
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 45px;
  }
  
  .get-started-btn:hover {
    background-color: #c60d2f;
  }
  
  .image-placeholder {
    width: 55%;
    height: 400px;
    display: flex;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  
  .h-image {
    border-radius: 10px;
    margin: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content-image-placeholder {
    width: 100%;
    height: 300px;
    display: flex;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .content-image1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-filter:  brightness(104%) contrast(104%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(122%) sepia(0%);
          filter:  brightness(104%) contrast(104%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(102%) sepia(0%);
    mix-blend-mode: none;
    /* -webkit-filter:  brightness(105%) contrast(102%) grayscale(50%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(140%) sepia(9%);
          filter:  brightness(105%) contrast(102%) grayscale(50%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(140%) sepia(9%);
    mix-blend-mode: none; */
  }
  
  .content-image2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-filter:  brightness(104%) contrast(104%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(122%) sepia(0%);
          filter:  brightness(104%) contrast(104%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(132%) sepia(0%);
    mix-blend-mode: none;
    /* -webkit-filter:  brightness(105%) contrast(102%) grayscale(50%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(140%) sepia(9%); */
          /* filter:  brightness(105%) contrast(102%) grayscale(50%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(140%) sepia(9%);
    mix-blend-mode: none; */
  }

  .content-image3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-filter:  brightness(104%) contrast(104%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(122%) sepia(0%);
          filter:  brightness(104%) contrast(104%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(60%) sepia(0%);
    mix-blend-mode: none;
    /* -webkit-filter:  brightness(105%) contrast(102%) grayscale(50%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(140%) sepia(9%);
          filter:  brightness(105%) contrast(102%) grayscale(50%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(120%) sepia(9%);
    mix-blend-mode: none; */
  }

  p.content {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 500;
  }

  @keyframes highlight {
    to {
      background-position: 0;
    }
  }
  
  mark {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    animation: highlight linear forwards;
    animation-timeline: view(60% 20%);
    background: linear-gradient(
    to right,
    rgba(55, 255, 139, 0.6) 50%,
    rgba(55, 255, 139, 0) 50%
  );
    background-position: 100%;
    background-size: 200% 100%;
    border-radius: 0.125rem;
    padding-inline: 0.125rem;
  }

  button.getstarted {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left: 45px;
  }
  
  button.getstarted:hover {
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(255, 65, 65);
    box-shadow: 0px 15px 20px rgb(255, 65, 65 , 0.4);
    color: #fff;
    transform: translateY(-3px);
  }
  
  button.getstarted:active {
    transform: translateY(-1px);
  }



  .section2 {
    background: linear-gradient(to top, rgba(103, 125, 106, 0.8), rgba(64, 83, 76, 0.8), rgba(26, 54, 54, 0.8));
    text-align: center;
  }
  
  .section3 {
    background: linear-gradient(to bottom, rgba(103, 125, 106, 0.8), rgba(64, 83, 76, 0.8), rgba(26, 54, 54, 0.8));
    padding: 50px 20px;
    text-align: center;
  }

  .section4 {
    background: linear-gradient(to bottom, rgba(103, 125, 106, 0.8), rgba(103, 125, 106, 0.8), rgba(64, 83, 76, 0.8));
    text-align: center;
  }

  .section5 {
    background: linear-gradient(to bottom, rgba(64, 83, 76, 0.8), rgba(64, 83, 76, 0.8), rgba(26, 54, 54, 0.8));
    padding: 50px 20px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 110px;
    text-align: center;
  }

  .section6 {
    background: linear-gradient(to bottom, rgba(26, 54, 54, 0.8), rgba(26, 54, 54, 0.9), rgba(26, 54, 54, 1));
    text-align: center;
  }

  .section7 {
    background: linear-gradient(to bottom, rgba(103, 125, 106, 0.8), rgba(64, 83, 76, 0.8), rgba(26, 54, 54, 0.8)), 
    url(/images/golfbg2.jpg) no-repeat center center / cover;
    background-size: auto;
    background-attachment: fixed;
    padding: 50px 20px;
    margin-top: -35px;
    text-align: center;
  }

  .section-title {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .section-text {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    color: #fff;
    margin: 0 auto;
    text-transform: uppercase;
  }
  
  
  .introduction {
    background: linear-gradient(to top, rgba(103, 125, 106, 0.8), rgba(64, 83, 76, 0.8), rgba(26, 54, 54, 0.8));
    text-align: center;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 110px;
    font-family: Arial, sans-serif;
}

.introduction h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.introduction p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 50px;
    
}

p.subtitle {
  margin-top: -10px;
}

.introduction-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    justify-items: center;
}

.intro-point {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 6px 10px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    min-height: 240px;
    font-size: 16px;
    line-height: 1.6;
    transition: 0.6s all;
}

.intro-point:hover{
  transform: scale(1.05);
  box-shadow: 6px 10px 8px rgba(0, 0, 0, 0.4);
}

.intro-point strong {
    font-weight: bold;
}

p.content-intro {
  color: #000;
}

mark.introtext {
  font-weight: 600;
}
  
.section-title-objective {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

p.subtitle-objective {
  margin-top: -20px;
  color: #fff;
  margin-bottom: 50px;
}

.endtext{
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  color: #fff;
  margin: 0 auto;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.endtextncu{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  background:rgba(55, 255, 139, 0.6);
  color: #000;
  max-width: 1000px;
  display: inline;
}

.endtextkmutnb{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  background-color:rgba(55, 255, 139, 0.6);
  color: #000000;
  max-width: 1000px;
  display: inline;
}